# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Folders to ignore
data/external
data/interim
data/processed
data/raw
reports